@use "variables" as *;

*,
*::before, 
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.body {
  font-family: $font-family;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: calc($container-width + ($container-offset * 2));
  padding: 0 $container-offset;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}