@use "../variables" as *;

.about {
  display: flex;
  background-color: $white;

  &--reverse {
    flex-direction: row-reverse;
    background-color: $light-grey;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    padding: 72px 84px 74px 0;
    padding-left: max($container-offset, calc((100% - $container-width) / 2));
  }

  &--reverse &__info {
    padding-left: 84px;
    padding-right: max($container-offset, calc((100% - $container-width) / 2));
  }

  &__title {
    margin-bottom: 25px;
    max-width: 514px;
  }

  &__descr {
    max-width: 514px;
    font-weight: 400;
    font-size: 16px;
    color: #505977;
  }

  &__descr:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__btn {
    margin-top: auto;
  }

  &__illustration {
    flex-shrink: 0;
    width: 50%;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}