@use "../variables" as *;
@use "../media" as *;

.cart {
  padding: 84px 0;
  background-color: $light-grey;

  @include mobile {
    padding: 36px 0 50px;
  }

  &__title {
    @include mobile {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      margin-bottom: 32px;
      overflow: auto;
      font-family: $second-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.4;
      color: $dark-primary;
    }
  }

  &__content {
    padding: 72px 63px 54px;
    background-color: $white;

    @include tablet {
      padding: 40px;
    }

    @include mobile {
      padding: 0;
      background-color: $light-grey;
    }
  }

  &__table {
    padding-bottom: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light-grey;

    @include mobile {
      padding-bottom: 37px;
      margin-bottom: 15px;
      border-color: $border-grey;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 7px;

    @include mobile {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 10px;
      row-gap: 14px;
    }
  }

  &__col {
    grid-column: 6 span;
  }

  &__col--quantity {
    grid-column: 2 span;
    padding-left: 75px;

    @include tablet {
      padding-left: 0;
    }
        
    @include mobile {
      grid-column: 6 / 11;
      grid-row: 1 span;
    }
  }

  &__row.cart__row--heading {
    @include mobile {
      display: none;
    }
  }

  &__row.cart__row--heading .cart__col--quantity {
    @include tablet {
      padding-left: 30px;
    }
  }

  &__col--total {
    grid-column: 2 span;
    justify-self: end;

    @include mobile {
      display: none;
    }
  }

  &__col--image {
    grid-column: 1 span;

    @include mobile {
      grid-column: 5 span;
      grid-row: 2 span;
    }
  }

  &__col--info {
    grid-column: 5 span;

    @include mobile {
      grid-column: 7 span;
      grid-row: 1 span;
    }
  }

  &__info {
    padding: 12px 17px;
    max-width: 266px;

    @include mobile {
      padding: 0;
      padding-left: 12px;
    }
  }

  &__row:not(:last-of-type) {
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__row.cart__row--heading {
    padding-bottom: 12px;
    margin-bottom: 28px;
    border-bottom: 1px solid $light-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-primary;
    font-family: $second-family;
  }

  &__image {
    @include mobile {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title-product {
    margin-bottom: 8px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: $dark-primary;

    @include mobile {
      font-size: 16px;
    }
  }

  &__descr {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $dark-primary;
  }

  &__stepper {
    padding-top: 12px;

    @include mobile {
      padding: 0;
      padding-left: 14px;
    }
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $dark-primary;
  }

  &__total {
    padding-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-primary;
  }

  &__bottom-info {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column-reverse;
      align-items: end;
      margin-bottom: 36px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    color: $primary;
  }

  &__subtotal {
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: right;
    color: $primary;

    @include mobile {
      margin-bottom: 7px;
    }
  }

  &__subtotal-price {
    margin-left: 16px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-align: right;
    color: $dark-primary;
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
  }
}