@use "../variables" as *;

.catalog {
  $column-gap: 20px;
  $elems: 3;

  padding: 36px 0;

  &__column {
    grid-column: 3 span;
    padding-top: 12px;
  }

  &__products {
    grid-column: 9 span;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: $column-gap;
    row-gap: 36px;
  }

  &__item {
    width: calc((100% - ($elems - 1) * $column-gap) / $elems);
  }
}