@use "../variables" as *;
@use "../media" as *;

.catalog {
  $column-gap: 20px;

  padding: 36px 0;

  &__column {
    grid-column: 3 span;
    padding-top: 12px;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__mobile-btn {
    display: none;

    @include mobile {
      display: inline-flex;
      margin-bottom: 20px;
    }
  }

  &__mobile-btn--active svg {
    transform: rotate(180deg);
  }

  &__products {
    grid-column: 9 span;

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: $column-gap;
    row-gap: 36px;

    @include mobile {
      column-gap: 16px;
      row-gap: 20px;
    }
  }

  &__item {
    width: calc((100% - 2 * $column-gap) / 3);

    @include tablet {
      width: calc((100% - $column-gap) / 2);
    }
  }
}