@use "../variables" as *;
@use "../media" as *;

.nav {
  @include tablet {
    padding: 20px 40px;
  }
  
  &__list {
    display: flex;
    align-items: center;
    gap: 44px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
    transition: $main-trs;
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus-visible {
    outline: $outline;
    outline-offset: $outline-offset;
  }

  @media (any-hover: hover) {
    &__link:hover {
      color: $primary;
    }
  }

  &__link:active {
    color: $dark-primary;
  }
}