@use "../variables" as *;
@use "../media" as *;

.notice {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: $dark-primary;

  &--hidden {
    display: none;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    color: $white;

    @include mobile {
      padding-right: 30px;
    }
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    transition: $main-trs;
  }

  &__close svg {
    fill: currentColor;
  }

  &__close:focus {
    outline: none;
  }

  &__close:focus-visible {
    outline: $outline;
    outline-offset: $outline-offset;
  }

  @media (any-hover: hover) {
    &__close:hover {
      color: $border-dark;
    }
  }

  &__link:active {
    color: $primary;
  }
}