@use "../variables" as *;
@use "../media" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: $main-trs;

  @include mobile {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px dashed $primary;
    outline-offset: $outline-offset;
  }

  &--theme-darker {
    background: $dark-primary;
    color: $white;
  }

  @media (any-hover: hover) {
    &--theme-darker:hover {
      background-color: #3e367c;
    }
  }

  &--theme-darker:active {
    background-color: $primary;
  }

  &--theme-dark {
    background: rgba(249, 249, 249, 0.15);
    color: $white;
  }

  @media (any-hover: hover) {
    &--theme-dark:hover {
      background: rgba(249, 249, 249, 0.3);
    }
  }

  &--theme-dark:active {
    background: rgba(249, 249, 249, 0.4);
  }

  &--theme-light {
    background-color: $light-grey;
    color: $dark-primary;
  }

  @media (any-hover: hover) {
    &--theme-light:hover {
      background-color: $border-grey;
    }
  }

  &--theme-light:active {
    background-color: $border-dark;
  }

  &--theme-white {
    background-color: $white;
    color: $dark-primary;
  }

  @media (any-hover: hover) {
    &--theme-white:hover {
      background-color: $border-grey;
    }
  }

  &--theme-white:active {
    background-color: $primary;
    color: $white;
  }

  &--with-icon {
    gap: 12px;
  }

  &--with-icon svg {
    transition: transform 0.3s ease;
  }
}