@use "../variables" as *;

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  user-select: none;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__icon {
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
  }

  &__icon::after {
    content: '';
    position: absolute;
    inset: -1px;
    z-index: 2;
    background-image: url("../img/icons/check.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $dark-primary;
  }

  &__input:checked + &__icon::after {
    opacity: 1;
  }

  &__input:focus-visible + &__icon {
    outline: 2px dashed $primary;
    outline-offset: $outline-offset;
  }

  @media (any-hover: hover) {
    &__input:hover + &__icon {
      background-color: $border-grey;
    }
  }
}