@use "../variables" as *;

.stepper {
  display: flex;
  width: 122px;
  background-color: $white;

  &__btn {
    width: 42px;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 16px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: $dark-primary;
    user-select: none;
  }

  &__btn--disabled {
    pointer-events: none;
    color: $border-grey;
  }

  &__input {
    width: calc(100% - 84px);
    border: none;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: $dark-primary;
  }
}